

<div class="row">
    <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="profile-box text-center ">
              <img src="views/img/github.png" alt="" width="204" height="136">


                <h1 style="font-family: Montserrat;">Github Repo Recommender</h1>
                <hr class="small">
                <h3 style="color:orange">A Collaborative Filtering Recommender System for Github</h3>
                <h4 style="padding-top:10px"></h4>
                
                
                    <div class="social">
                        
                        <a href="https://github.com/Shruti9520" class="link github" target="_parent">
                            <span class="fa fa-github-square"></span></a>
                                    
                    </div>
                </div>
            </div>
            
            <div class="col-sm-3"></div>
</div>
