<div class="row">
    <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="profile-box text-center ">
              <img src="views/img/github.png" alt="" width="204" height="136">


                <h1 style="font-family: Montserrat;">GitHub Repo Recommender</h1>
                <hr class="small">
                <h4 style="padding-top:10px"></h4>
                     <button type="button" class="btn btn-success" ng-click="authen();">Sign In with GitHub</button>
                  
                </div>
            </div>
            
            <div class="col-sm-3"></div>
</div>
